html, .ui-widget { 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.form_container{
	background-color: #F9F9F9;
	border: 1px solid #EEEEEE;
	border-radius: 10px;
	margin: 10px 0px;
	padding: 20px;
}
.form_section{
	margin-top: 10px;
}
.form_desc {
	color: #C0C0C0;
	font-size: 11px;
	line-height: 12px;
}
.form_name, .form_title, .form_desc {
	display: block;
}
.form_title {
	padding: 10px 0;
	font-weight: bold;
	display: block;
}
.form_row{
	margin: 4px 0px;
}
.form_row label{
	width: 30%;
	display: inline-block;
}
.form_row select,
.form_row input[type="text"],
.form_row input[type="password"],
.form_row textarea {
	width: 30%;
	display: inline-block;
	line-height: 22px;
	min-height: 22px;
}
p.message {
	border-radius: 2px;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	background-color: #cef1fc;
    border-color: #9ee3f9;
    color: #12718f;
}